*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
}

button {
  width: 70px;
  height: 70px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  color: inherit;
  background: rgba(5, 5, 5, 0.3);
}

button:active {
  transform: translateY(2px);
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fbfbfb;
  background: linear-gradient(116.95deg, #00376a 0%, #0079e9 100%);
}
